# API base URL (different per environment)
# Development: http://localhost:3001
# Production:  https://api.example.com
NUXT_PUBLIC_API_BASE=http://localhost:3001

# Site URL
NUXT_PUBLIC_SITE_URL=https://consultatucita.hospitalhuaycan.gob.pe
